html {
  margin: 0px;
  height: 100%; }

body {
  margin: 0px;
  height: 100%;
  background-color: #141414;
  color: #d9d9d9;
  font-family: 'Lato', sans-serif; }

a img {
  outline: none;
  border: none; }

a:link, a:hover, a:active, a:visited {
  color: #66d9ef; }

input[type="text"] {
  background-color: #f2f2f2;
  color: black; }

.btn {
  background-color: #383838;
  color: #66d9ef;
  outline: none !important; }

.btn:hover {
  background-color: #616161;
  color: #66d9ef; }

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

h1 {
  font-size: 50px;
  font-weight: 100; }

.hero-unit {
  padding: 20px 35px;
  background-color: #383838;
  color: #f92672;
  border-radius: 0px 0px 5px 5px;
  height: 150px; }

.topic_title {
  border-left: 1px solid #b4b4b4;
  margin-left: 5px;
  padding-left: 15px;
  color: #66d9ef; }

.user-box {
  float: right; }

.index-body {
  width: 400px;
  margin: 100px auto; }

.bubls-body {
  margin-bottom: 50px; }

.upload-form {
  display: block;
  width: 400px;
  margin: 20px auto 30px;
  padding: 15px;
  background-color: #383838;
  border-radius: 5px;
  text-align: center; }
  .upload-form input {
    margin-top: 5px; }
  .upload-form .btn {
    background-color: #141414; }
    .upload-form .btn:hover {
      opacity: 0.8; }

.column-1 {
  display: inline-block;
  width: 20%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  padding: 8px; }

.column-1:nth-of-type(1) {
  width: 60%; }

.column-1:nth-of-type(2) {
  width: 40%; }

.image-bubl {
  margin-bottom: 20px;
  background-color: black;
  border-radius: 8px;
  text-align: center;
  color: #66d9ef;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); }
  .image-bubl img {
    width: 100%;
    border-radius: 7px 7px 0px 0px; }
  .image-bubl .caption {
    padding: 5px 0px; }

body:before {
  content: 'Default';
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 8px 12px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 0px 0px 12px 0px; }

/* Large desktop */
@media (min-width: 1200px) {
  body:before {
    content: 'Large desktop'; } }
/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) and (min-width: 768px) {
  body:before {
    content: 'Portrait tablet to landscape and desktop'; } }
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body:before {
    content: 'Landscape phone to portrait tablet'; } }
/* Landscape phones and down */
@media (max-width: 480px) {
  body:before {
    content: 'Landscape phones and down'; } }
