<!DOCTYPE html>
{% autoescape true %}
<html lang="en-GB">
	<head>
		<title>{{topic.name}} | bubl | Smart Photo Sharing</title>
		<meta name="viewport" content="width=400, user-scalable=no" />
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
		<!--<link href="css/flat-ui.css" rel="stylesheet" />-->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
		<link href="css/style.css" rel="stylesheet" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
		<!--<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>-->
		<script src="js/topic-page.js">
		</script>
	</head>
	<body>
		<div class="container">
			<div class="hero-unit">
				<div class="user-box">
					{% if user %}
						Hello, {{user.name}} |
						<a href="/logout?topic_url={{topic.url}}">Logout</a>
					{% else %}
						<a href="/login?topic_url={{topic.url}}">Login</a>
					{% endif %}
				</div>
				<h1>
					<a href="/">
						bubl
					</a>
					<span class="topic_title">
						{{topic.name}}
					</span>
				</h1>
				<span class="creator_label">
					Created by {{topic.creator_name}}
				</span>
				{% if user %}
				<button class="add-image-btn btn">Add an image</button>
				{% endif %}
			</div>
			<div class="bubls-body">
				{% if user %}
					<form class="upload-form" method="POST" action="./{{topic.url}}/add_image">
						<input type="text" class="form-control" name="image_url" placeholder="Image URL" />
						<input type="text" class="form-control" name="image_caption" placeholder="Caption" />
						<input type="submit"class="btn" value="Upload" />
					</form>
				{% endif %}
				
				{% for image in images recursive %}
					{% if image and image.url %}
						<a href="{{image.url}}">
							<div class="image-bubl span3" id="{{image.key}}">
								<img src="{{image.url}}" alt="{{image.caption}}" />
								<div class="caption">
									{{image.caption}}
								</div>
								<div class="vote-buttons">
									<div class="score">
										<sup>{{image.score}}</sup>
									</div>
									{% if user %}
										<div class="upvote {% if user.id in image.upvoters %}active{% endif %}">
											&#8679;
										</div>
										<div class="downvote {% if user.id in image.downvoters %}active{% endif %}">
											&#8681;
										</div>
									{% endif %}
								</div>
							</div>
						</a>
					{% elif image and image is sequence %}
						<div class="column">
							{{loop(image)}}
						</div>
					{% endif %}
				{% endfor %}
				<!--
				{% for image in images %}
					<div class="column-1">
						<a href="{{image.url}}"><div class="image-bubl span3" id="{{image.key}}">
							<img src="{{image.url}}" alt="{{image.caption}}" />
							<div class="caption">
								{{image.caption}}
							</div>
							<div class="vote-buttons">
								<div class="score">
									<sup>{{image.score}}</sup>
								</div>
								{% if user %}
									<div class="upvote {% if user.id in image.upvoters %}active{% endif %}">
										&#8679;
									</div>
									<div class="downvote {% if user.id in image.downvoters %}active{% endif %}">
										&#8681;
									</div>
								{% endif %}
							</div>
						</div></a>
					</div>
				{% endfor %}
				-->
			</div>
		</div>
	</body>
</html>
{% endautoescape %}