$large-desktop: 'min-width: 1200px';
$desktop: 'max-width: 979px';
$land-tablet: 'min-width: 768px';
$port-tablet: 'max-width: 767px';
$phone: 'max-width: 480px';

$pink: #f92672;
$blue: #66d9ef;
$mid-grey: lighten(black, 20%);
$dark-grey: lighten(black, 8%);
$light-grey: lighten(black, 38%);

html {
	margin: 0px;
	height: 100%;
	overflow-y: scroll;
}
body {
	margin: 0px;
	height: 100%;
	background-color: $dark-grey;
	background-image: url(../img/bg.png);
	color: darken(white, 15%);
	font-family: 'Lato', sans-serif;
}
a img {
	outline: none;
	border: none;
}
a:link, a:hover, a:active, a:visited {
	color: $blue;
}
.container {
	min-width: 800px;
}
.form-control {
	background-color: lighten(black, 95%);
	color: black;
}
.btn, .btn:focus {
	background-color: $mid-grey;
	color: $blue;
	outline: none !important;
}
.btn:hover {
	background-color: $light-grey;
	color: $blue;
}
h1, h2, h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
h1 {
	font-size: 50px;
	font-weight: 100;
	a:link, a:visited, a:hover, a:active {
		text-decoration: none;
		color: $pink;
	}
}
.header {
	padding: 20px 15px;
	margin: 0px 0px 20px;
	//background-color: $mid-grey;
	color: $pink;
	//border-radius: 0px 0px 5px 5px;
	height: 150px;
}
.topic_title {
	border-left: 1px solid rgb(180, 180, 180);
	margin-left: 5px;
	padding-left: 15px;
	color: $blue;
}
.user-box {
	float: right;
}
.search-form {
	float: right;
	width: 300px;
	.search-query {
		border-radius: 18px 0px 0px 18px;
	}
	.search-button {
		border-radius: 0px 18px 18px 0px;
	}
}
.seach-results {
	font-size: 18px;
	line-height: 1.6;
	padding: 0px 15px;
	.search-form {
		float: none;
		width: 40%;
		min-width: 300px;
		margin-bottom: 15px;
	}
}
.add-image-btn {
	float: right;
}
.upload-form {
	display: block;
	width: 400px;
	margin: 0px auto 20px;
	padding: 15px;
	background-color: $mid-grey;
	border-radius: 5px;
	text-align: center;
	h3 {
		margin-top: 10px;
		color: $blue;
	}
	.form-control {
		margin-top: 5px;
	}
	.type-select-box {
		text-align: left;
		padding: 10px 5px;
		label {
			display: block;
			cursor: pointer;
		}
		.type-select {
			margin-right: 3px;
			position: relative;
			top: 1px;
		}
	}
	.btn {
		background-color: $dark-grey;
		margin-top: 10px;
		&:hover {
			opacity: 0.8;
		}
	}
	.file-input {
		text-align: left;
		cursor: pointer;
	}
	.file-upload {
		display: none;
	}
	.error-box {
		color: $pink;
		margin-top: 10px;
		font-size: 110%;
		text-shadow: 0px 0px 5px black;
	}
}
.headline {
	max-width: 450px;
}
.create-topic-box {
	padding-top: 80px;
	h2 {
		margin-bottom: 15px;
	}
	form {
		max-width: 400px;
		margin: auto;
	}
}
.row {
	margin: 0px;
}
.intro {
	width: 80%;
	min-width: 700px;
	margin: 70px auto 20px;
	.arrow {
		font-size: 50px;
		line-height: 65px;
		width: 50px;
		float: right;
	}
	h2, .arrow {
		color: $blue;
	}
}
.bubls-body {
	margin-bottom: 50px;
}
.column {
	display: inline-block;
	width: 100%;
	float: left;
}
.bubls-body>.column:nth-of-type(1) {
	width: 60%;
	&>.column:nth-of-type(2) {
		width: 66.6%;
		.column {
			width: 50%;
		}
	}
	&>.column:nth-of-type(3) {
		width: 33.3%;
	}
}
.bubls-body>.column:nth-of-type(2) {
	width: 40%;
	&>.column {
		width: 50%;
	}
}
.image-bubl {
	position: relative;
	background-color: black;
	//border-radius: 8px;
	text-align: center;
	color: $blue;
	box-shadow: 3px 3px 10px rgba(black, 0.3);
	margin: 5px 5px 10px;
	&:hover {
		.vote-buttons {
			visibility: visible;
		}
	}
	.image-wrapper {
		overflow: hidden;
		max-height: 600px;
	}
	img {
		width: 100%;
		z-index: 5;
	}
	.caption {
		padding: 5px 0px;
	}
	.confirm-delete-box {
		color: $pink;
		height: 80px;
		margin-top: -40px;
		.confirm-delete {
			color: $pink;
		}
		div {
			padding-bottom: 10px;
		}
	}
	.vote-buttons {
		visibility: hidden;
		position: absolute;
		top: 0px;
		right: 0px;
		z-index: 5;
	}
	.upvote, .downvote, .score, .delete-image {
		float: right;
		display: inline-block;
		background-color: rgba(black, 0.8);
		font-size: 25px;
		text-align: center;
		width: 30px;
		min-width: 30px;
		height: 35px;
		line-height: 34px;
		&.active {
			font-weight: 700;
		}
		&:last-of-type {
			border-radius: 0px 0px 0px 10px;
		}
	}
	.score {
		font-size: 20px;
		width: auto;
		padding: 0px 3px;
		sup {
			top: -2px;
		}
	}
	.upvote, .downvote, .delete-image {
		font-weight: 700;
		color: rgba(white, 0.6);
		&:hover {
			cursor: pointer;
			background-color: $mid-grey;
			opacity: 0.8;
			//border-bottom: 1px solid rgba(white, 0.9);
		}
	}
	.delete-image {
		color: red;
		font-size: 20px;
	}
	.upvote {
		//color: rgba($blue, 0.6);
		&.active, &:hover {
			color: $blue;
		}
	}
	.downvote {
		//color: rgba($pink, 0.6);
		&.active, &:hover {
			color: $pink;
		}
	}
}

/*
// Responsive section display TESTING ONLY
body:before {
	content: 'Default';
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 8px 12px;
	text-align: center;
	background-color: rgba(black, 0.7);
	color: white;
	border-radius: 0px 0px 12px 0px;
}
// Large desktop
@media ($large-desktop) {
	body:before {
		content: 'Large desktop';
	}
}
 
// Portrait tablet to landscape and desktop
@media ($desktop) and ($land-tablet) {
	body:before {
		content: 'Portrait tablet to landscape and desktop';
	}

}
 
// Landscape phone to portrait tablet
@media ($port-tablet)  {
	body:before {
		content: 'Landscape phone to portrait tablet';
	}
}
 
// Landscape phones and down
@media ($phone) {
	body:before {
		content: 'Landscape phones and down';
	}

}
*/